.alert-warning-summary {
  &::marker {
    list-style-type: none;
    font-family: 'bootstrap-icons', sans-serif;
    content: "";
  }

  &[open]::marker {
    list-style-type: none;
    font-family: 'bootstrap-icons', sans-serif;
    content: "";
  }
}

.hide-max-width-419 {
  @media (max-width: 419px) {
    display: none;
  }
}
