.table-line-content td {
  border-bottom: unset !important;
}

.list-line-content {
  padding: 0;
  margin: 0 0 0 1rem;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .list-line-content {
    list-style-type: none;
    margin: 0
  }
}
