@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  /*noinspection CssUnknownTarget*/
  src: url("/fonts/Arial.ttf") format("truetype");
}

:root {
  font-family: 'Inter', sans-serif;
}

body * {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Tight', 'Inter', sans-serif;
  letter-spacing: normal !important;
}

.inter {
  font-family: 'Inter', sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}

/* Utilities */
.truncate-w-250 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.resize-none {
  resize: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* Line Clamp Utilities */
[class*="line-clamp-"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.line-clamp-5 {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.line-clamp-w-200 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: horizontal;
  width: 200px;
  max-width: 200px;
  text-align: left !important;
}

/* Components & Overrides */
.offcanvas-body {
  overflow: scroll !important;
}

.scroll-x > div {
  min-width: 425px;

  @media screen and (max-width: 475px) {
    min-width: calc(100vw - 4rem);
  }
}

.breadcrumb {
  background: transparent !important;
}

li.breadcrumb-item.bg-body {
  cursor: not-allowed !important;
  background: transparent !important;

  /*noinspection CssUnresolvedCustomProperty*/
  a {
    cursor: not-allowed !important;
    color: var(--bs-text-body) !important;
  }
}

/*noinspection CssUnusedSymbol*/
select#city-recharge.bg-body {
  background: transparent !important;
}

/* Print Utilities */
.show-print {
  display: none;
}

.hide-print {
  display: block;
}

@media print {
  .show-print {
    display: block;
  }

  .hide-print {
    display: none;
  }

  .container {
    margin: 0.25rem !important;
  }
}
