@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  /*noinspection CssUnknownTarget*/
  src: url("/fonts/Arial.ttf") format("truetype");
}

:root {
  font-family: 'Inter', sans-serif;
}

body * {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Tight', 'Inter', sans-serif;
  letter-spacing: normal !important;
}

.inter {
  font-family: 'Inter', sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}

.line-clamp-w-250 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: horizontal;
  width: 300px;
  max-width: 250px;
  text-align: left !important;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.line-clamp-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.offcanvas-body {
  overflow: scroll !important;
}

.resize-none {
  resize: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.scroll-x {
  & > div {
    min-width: 425px;
    
    @media screen and (max-width: 475px) {
      min-width: calc(100vw - 4rem);
    }
  }
}

.breadcrumb {
  background: transparent !important;
}

li.breadcrumb-item.bg-body {
  cursor: not-allowed !important;
  background: transparent !important;

  /*noinspection CssUnresolvedCustomProperty*/

  a {
    cursor: not-allowed !important;
    color:  var(--bs-text-body) !important;
  }
}

/*noinspection CssUnusedSymbol*/
select#city-recharge.bg-body {
  background: transparent !important;
}

.show-print {
  display: none;

  @media print {
    display: block;
  }
}

.hide-print {
  display: block;

  @media print {
    display: none;
  }
}

.container {
  @media print {
    margin: 0.25rem !important;
  }
}
