@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Arial.ttf") format("truetype");
}

:root {
  font-family: 'Inter', sans-serif;
}

body * {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Tight', 'Inter', sans-serif;
  letter-spacing: normal !important;
}

.inter {
  font-family: 'Inter', sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.offcanvas-body {
  overflow: scroll !important;
}

.resize-none {
  resize: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.scroll-x {
  & > div {
    min-width: 425px;
    
    @media screen and (max-width: 475px) {
      min-width: calc(100vw - 4rem);
    }
  }
}

.breadcrumb {
  background: transparent !important;
}

li.breadcrumb-item.bg-body {
  cursor: not-allowed !important;
  background: transparent !important;

  a {
    cursor: not-allowed !important;
    color:  var(--bs-text-body) !important;
  }
}

select#city-recharge.bg-body {
  background: transparent !important;
}
