@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Arial;
  src: url("/fonts/Arial.ttf");
}

:root {
  font-family: 'Inter', sans-serif;
}

body * {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Tight', 'Inter', sans-serif;
  letter-spacing: normal !important;
}

.inter {
  font-family: 'Inter', sans-serif;
}

main {
  min-height: calc(100vh - 80px);
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.offcanvas-body {
  overflow: scroll !important;
}

.resize-none {
  resize: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.scroll-x {
  & > div {
    min-width: 322px;
  }
}
